{% extends 'base.html' %}
{% block title %}Reports{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center mb-4">Library Reports</h2>

  <div class="row g-4">
    <div class="col-md-3">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Active Students</h5>
          <p class="display-6">{{ total_students }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Old Students</h5>
          <p class="display-6">{{ old_students }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Total Fee</h5>
          <p class="display-6">{{ total_fees }}</p>
        </div>
      </div>
    </div>




  </div>


  </div>
</div>
{% endblock %}
